<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <%= link_to "Back to tickets", tickets_path %>
  <% if current_user.manager? %>
     | <%= link_to "Back to Manager Portal", manager_portal_tickets_path %>
  <% end %>
</div>
